<p id="myId">
    {{homeTitle}}
</p>
<ng-content></ng-content>

<!-- event data binding -->
<input value="{{myString}}">
<input [required]="myBoolean">

<button (click)="alertMe('This is Kaung San')">Click me</button>

<!-- 2-way data binding -->
<!-- two way data binding in a nutshell -->
<input [value]="ninja.name" (input)="ninja.name = $event.target.value">
<p>{{ninja.name}}</p>

<!-- 2-way with ngModel -->
<!-- Need to improt FormsModule form @angular/forms -->
<input type="text" [(ngModel)]="myTest">
<p>{{myTest}}</p>

<!-- From Root Component to Other Component -->
<!-- Data in Root Component e.g person -->
<!-- add Data in Other component e.g <app-home [person]='person' -->
<!-- In Other Component, use is with @Input() person -->
<h1>{{person.name}}</h1>
<p>{{person.location}}</p>

<!-- From Other Component to Root Component -->
<button (click)="fireYellEvent($event)">To Root Component</button>

<p>
    Testing Directives
</p>
<ul>
    <li [ngClass]="classes">Attribute eg. ngClass</li>
    <li *ngIf="test">Structural eg. *ngIf</li>
</ul>

<style>
    .blue {
        color: blue;
    }
    
    .red {
        color: red;
    }
    
    .underline {
        text-decoration: underline
    }
    
    ;
</style>